#section7{
    /* border: 2px solid black; */
    height: 100px;
    background-color: black
}
#section7 ul li{
    color: white;
    font-size: small;
    padding: 10px;

}
#section7 ul li:hover{
    cursor: pointer;
    color: green;
}
#section7 div{
    margin-left: 100px;
}
#section7 div+div{
    /* border: 2px solid black; */
    height: 80px;
    width: 150px;
    font-size: small;
    margin-left: 1200px;
    margin-top: -50px;
}
#section7 div+div a{
    color: white;
    text-decoration: none;
}
#section7 div+div span{
    color: white;
}